@{ViewBag.Title = "Facturación";}
<div class="container-fluid" style="  min-height: 100%;clear:both;">
    <div id="central" class="row">
        <div class="col-sm-5 col-md-4">
            <div class="row ">
                <div class="row">
                    <div class="col-sm-6">
                        Division:
                        <select id="divatencion" class="col-sm-6 form-control input-sm" disabled>
                            @if (ViewBag.divisiones.Count == 0){<option value="">Sin Elementos</option>}
                            @foreach (var div in ViewBag.divisiones){<option value="@div.CODIGO">@div.DESCRIPCION</option>}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        Nº Und. de Atención:
                        <div class="input-group input-group-sm">
                            <input id="undatencion" type="number" maxlength="3" data-valant="" class="form-control input-sm" value="@ViewBag.und" disabled />
                            <span class="input-group-btn">
                                <button id="btn-update" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-refresh"></span></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div id="group-tipdocemi" class="btn-group btn-group-xs btn-group-justified">
                    @foreach (var tipdoc in ViewBag.tipdocs)
                    {
                        <div class="btn btn-default">
                            <input type="radio" name="tipdocemi" value="@tipdoc.clave" class="hide" data-desc="@tipdoc.descripcion" />@tipdoc.descripcion
                        </div>
                    }
                </div>
                <div id="tabla-factura-anexo" class="anexo">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <a class="btn-clear-anexo btn btn-default"><span class="glyphicon glyphicon-menu-left"></span></a>
                        </span>
                        <input type="number" placeholder="RUC/DNI" class="anexo-nrodoc form-control" value="@(ViewBag.anexo!=null?ViewBag.anexo.nrodoc:"")"/>
                        <span class="input-group-btn">
                            <a class="btn-actualizar-anexo btn btn-warning"><span class="glyphicon glyphicon-retweet"></span></a>
                            <a class="btn-seleccionar-anexo btn btn-info" data-anexo="#tabla-factura-anexo"><span class="glyphicon glyphicon-search"></span></a>
                        </span>
                    </div>
                    <input type="text" placeholder="Cliente" class="anexo-desane form-control" value="@(ViewBag.anexo!=null?ViewBag.anexo.desane:"")" />
                    <input type="text" placeholder="Dirección" class="anexo-refane form-control" value="@(ViewBag.anexo!=null?ViewBag.anexo.refane:"")" />
                </div>
            </div>
            <div class="row div-scroll">
                <div class="">
                    <table id="tabla-factura" class='table small table-striped table-condensed' data-codigo="">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Tipo</th>
                                <th>Cant.</th>
                                <th>Sub.</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="row ">
                <table style="width:100%;" class="text-center">
                    <tr>
                        <td>Items: <label id="tabla-factura-items">-</label></td>
                        <td>IGV: <label id="tabla-factura-igv">-</label></td>
                        <td><label>Total: </label><label id="tabla-factura-total">-</label></td>
                    </tr>
                </table>
                <div class="btn-group btn-group-sm btn-group-justified">
                    <a id="factura-btn-guardar" class="btn btn-primary">Guardar</a>
                    <a id="factura-btn-pagar" class="btn btn-success">Facturar</a>
                    <a id="factura-pre-factura" class="btn btn-default"><i class="glyphicon glyphicon-print"></i></a>
                </div>
                <div style="padding-top:5px;"></div>
                <div class="btn-group btn-group-xs btn-group-justified">
                    <a id="anular-factura" class="btn btn-danger">Anular</a>
                    <a class="btn btn-sm btn-warning" href="/UndAtencion/Regresar?c=@ViewBag.conc.CODIGO"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-md-8">
            <div class="row">
                <div class="navbar-info-user">
                    <label class="info-divider">
                        Usuario: @Session["Loged_usrfile_idusr"].ToString()
                    </label>
                    <label class="info-divider">Suc: @ViewBag.sucursal.descripcion </label>
                    <label class="info-divider hidden-xs hidden-sm">
                        Cia: @ViewBag.cia.descia
                    </label>
                    <label class="info-divider">
                        Rol: @Session["Loged_usrfile_rol"].ToString()
                    </label>
                    <label>
                        Pto. Emisión:
                        <select id="puntos-emision" class="info-divider-inverse">
                            @foreach (var punemi in ViewBag.puntosemision)
                            {
                            <option value="@punemi.codigo">@punemi.descripcion</option>}
                        </select>
                    </label>
                </div>
            </div>
            <div class="row panel panel-default text-center" style="margin-bottom:0px;">
                <div class="panel-heading" style="padding-bottom: 0px; padding-top: 0px;">
                    <label id="undatencion-desc" data-codigo="" class="panel-title"></label><label class="panel-title"> - </label><label id="peratencion-desc" data-codigo="" class="panel-title"></label>
                </div>
                <div class="panel-body" style="padding:0;">
                    <ul class="nav nav-tabs" style="font-size:small;">
                        <li class="small"><a data-toggle="tab" href="#tab-buscar">BUSCAR</a></li>
                        @foreach (var categoria in ViewBag.categorias)
                        {
                            <li class="seleccion-categoria small" data-codigo="@categoria.codigo"><a data-toggle="tab" href="#tab-@categoria.codigo">@categoria.descripcion</a></li>
                        }
                    </ul>
                    <div class="tab-content  div-scroll-sevicios">
                        <div id="tab-buscar" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-btn">
                                            <button id="conventa-btn-buscar" class="btn btn-default" type="button">Buscar</button>
                                        </span>
                                        <input id="conventa-texto" type="text" class="form-control" placeholder="Ingrese el valor a buscar">
                                    </div>
                                </div>
                            </div>
                            <div id="panel-buscar" class="row panel panel-body" style="padding-top:0px;padding-bottom: 0px;margin-bottom: 0px;"></div>
                        </div>
                        @foreach (var categoria in ViewBag.categorias)
                        {
                            <div id="tab-@categoria.codigo" class="tab-pane fade in"><div id="panel-productos-@categoria.codigo" class="row panel panel-body" style="padding-top:0px;"></div></div>
                        }
                    </div>
                </div>
                <div class="btn-group btn-group-justified pull-right">
                    <div id="control-teclado" class="btn-group btn-group-xs btn-group-vertical">
                        <div class="btn btn-default active">
                            <input type="radio" name="control-teclado-opciones" value="ACT" class="hide" checked />Act.Teclado
                        </div>
                        <div class="btn btn-default ">
                            <input type="radio" name="control-teclado-opciones" value="DESACT" class="hide" />Desact.Teclado
                        </div>
                    </div>
                    <div class="btn-group btn-group-xs btn-group-vertical ">
                        <a id="cambiar-undatencion" class="btn btn-secundario btn-secundario-bordes">Cambiar Und. Atención</a>
                        <a href="/UndAtencion/Consumos?div=@ViewBag.div&und=@ViewBag.und&per=@ViewBag.per" class="btn btn-secundario btn-secundario-bordes">M. Consumos</a>
                    </div>
                    <a class="btn btn-danger" href="/Home/OffLogin"><span class="glyphicon glyphicon-remove"></span> Salir</a>
                </div>
                <div class="pull-right">
                    <img class="img-responsive logo" src="/Content/images/logo.png" alt="Neinco">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-pagar" data-tabla="#tabla-factura" data-anexo="#tabla-factura-anexo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Pagar<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="panel panel-body" style="padding-top:0px;">
                    <label>Total a pagar: S/. </label> <label id="form-pagar-total"></label>
                    <div class="row">
                        <table id="tabla-forma-pago" class="table table-striped table-bordered table-condensed small">
                            <thead>
                                <tr><th>Forma de venta</th><th>Forma de pago</th><th>Tipo tarjeta</th><th>Nro. de referencia</th><th>Importe</th></tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr><td class="text-right" colspan="4"><label>Importe pagado</label></td><td><label id="forma-pago-total">0.00</label></td></tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div id="group-forventa" class="btn-group btn-group-xs btn-group-justified form-group">
                            @foreach (var fv in ViewBag.forventa)
                            {
                                <div class="btn btn-default">
                                    <input name="forma-venta" value="@fv.naturaleza" data-codigo="@fv.codigo" data-desc="@fv.descripcion" type="radio" class="hide" />@fv.descripcion
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div id="group-forpago" class="btn-group btn-group-xs btn-group-justified form-group">
                            @foreach (var fp in ViewBag.forpago)
                            {
                                <div class="btn btn-default">
                                    <input name="forma-pago" value="@fp.codigo" data-codigo="@fp.codigo" data-desc="@fp.descripcion" data-istarjeta="@fp.is_tarjeta" data-isefectivo="@fp.is_efectivo" data-isreferencia="@fp.is_referencia" type="radio" class="hide" />@fp.descripcion
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form form-horizontal">
                        <div class="form-group">
                            <div class="pull-left">
                                <label>Forma de venta: </label><label id="forventa"></label>
                            </div>
                            <div class="pull-right">
                                <label>Forma de pago: </label><label id="forpago"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Importe: </label>
                                    <input type="text" id="input-importe" class="form-control-static"/>
                                </div>
                                <div id="modal-pagar-principal"></div>
                            </div>
                            <div id="modal-pagar-secundario" class="col-sm-6"></div>
                        </div>
                        <div class="checkbox-inline">
                            <label><input id="print-prefact" type="checkbox" value="" checked> Imprimir Prefactura</label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <button id="form-pagar-btn-aceptar" class="btn btn-danger btn-block">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-seleccionar-anexo" data-anexo="#tabla-factura-anexo" data-padre="#">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Clientes<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <div class="form-group"><input id="txtBuscar" type="text" class="form-control " placeholder="Buscar" autofocus autocomplete="on"/></div>
                    <div class="btn-group btn-group-justified">
                        <a id="btn-buscar-razon" class="btn btn-warning" data-val="razon">Por Razón Social/Apellido y Nombres</a>
                        <a id="btn-buscar-ruc" class="btn btn-info" data-val="ruc">Por RUC/ DNI</a>
                    </div>
                </div>
                <div class="panel div-scroll">
                    <table id="tabla-seleccionar-anexo" class='table table-hover'>
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>Número</th>
                                <th>Dirección</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-anexo" data-anexo="#tabla-factura-anexo" data-padre="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label id="modal-crearane-titulo"></label> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="group-tipane" class="btn-group btn-group-justified">
                    @foreach (var item in ViewBag.cm)
                    {
                        <div class="btn btn-default">
                            <input name="tipo-cm" type="radio" class="hide" value="@item.clavemaesgen" data-desc="@item.desmaesgen" data-codigo="@item.clavemaesgen" />@item.parm1maesgen
                        </div>
                    }
                </div>
                <div class="panel panel-body" style="padding-bottom:0;">
                    <div id="ane-body" class="form form-horizontal"></div>
                </div>
                <button id="modal-anexo-submit" class="btn btn-primary btn-block">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-cambiar-undatencion">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Libres<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        Division:
                        <select id="modal-cambiar-divatencion" class="col-sm-6 form-control input-sm">
                            @if (ViewBag.divisiones.Count == 0){<option value="">Sin Elementos</option>}
                            @foreach (var div in ViewBag.divisiones){<option value="@div.CODIGO">@div.DESCRIPCION</option>}
                        </select>
                    </div>
                </div>
                <div class="panel div-scroll">
                    <table id="tabla-cambiar-undatencion" class='table table-hover'>
                        <thead>
                            <tr><th>Código</th><th>Descripción</th></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-seleccionar-peratencion">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Asignar Empleado</h4>
            </div>
            <div class="modal-body">
                <div class="div-scroll">
                    <ul id="empleados" class="list-group">
                        @foreach (var persona in ViewBag.personal){
                            <li class="list-group-item element-selected" data-codigo="@persona.codigo" data-desc="@persona.descripcion"><a style="text-decoration:none;">@persona.descripcion</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hide">
    <label id="divate">@ViewBag.div</label>
    <label id="undate">@ViewBag.und</label>
    <label id="perate">@ViewBag.per</label>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/aplicacion")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/fact")
    <script>
        $("#divatencion").val(@ViewBag.div);
    </script>

}
