@{
    ViewBag.Title = "Punto de Venta";
}
<header>
    El Chalan S.A.C
    <div class="pull-right">
        <a class="btn btn-danger" href="/Home/OffLogin"><span class="glyphicon glyphicon-remove"></span> Salir</a>
    </div>
    <div style="font-size:0.5em">
        <label class="info-divider">
            Usuario: @Session["Loged_usrfile_idusr"].ToString()
        </label>
        <label class="info-divider">
            Suc: @ViewBag.sucursal.descripcion
        </label>
        <label class="info-divider">
            Cia: @ViewBag.cia.descia
        </label>
        <label class="info-divider">
            Rol: @Session["Loged_usrfile_rol"].ToString()
        </label>
    </div>
       
</header>

<ul id="divisiones" class="nav nav-tabs" style="font-size:small;">
    @foreach (var div in ViewBag.divs)
    {
        <li data-codigo="@div.CODIGO"><a data-toggle="tab" href="#tab-@div.CODIGO">@div.DESCRIPCION</a></li>
    }
</ul>
<div class="tab-content">
    @foreach (var div in ViewBag.divs)
    {
        <div id="tab-@div.CODIGO" class="tab-pane fade in">
            <div id="divatencion-@div.CODIGO" class="panel">
            </div>
        </div>
    }
</div>
<div class="hide">
    <label id="und-sel"></label><label id="per-sel"></label><label id="div-sel"></label>
    <label id="parpwd">@ViewBag.parpwd</label> <label id="rol">@Session["Loged_usrfile_rol"]</label>
</div>

<div class="modal " id="modal-seleccionar-peratencion">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Asignar Empleado</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.parpwd == "S")
                {
                    <div>
                        <h4>Ingrese clave:</h4>
                        <div class="input-group input-group">
                            <span class="input-group-btn">
                                <button class="btn"><span class="glyphicon glyphicon-user"></span></button>
                            </span>
                            <input type="password" id="perate-pass" placeholder="Ingrese clave" class="form-control" autofocus />
                        </div>
                    </div>
                }
                <div class="div-scroll-empleados">
                    <h4>Seleccione un empleado:</h4>
                    <ul id="empleados" class="list-group">
                        @foreach (var persona in ViewBag.personal)
                        {
                            <li class="list-group-item element-selected" data-codigo="@persona.codigo" data-desc="@persona.descripcion"><a style="text-decoration:none;">@persona.descripcion</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-ingresar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <h4>Ingrese clave:</h4>
                    <div class="input-group input-group">
                        <input type="password" id="perate-pass-2" placeholder="Ingrese clave" class="form-control" autofocus/>
                        <span class="input-group-btn">
                            <button id="btn-ingresar-2" class="btn"><span class="glyphicon glyphicon-ok"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/aplicacion")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/ind")
}
